@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;1,300&display=swap');

:root {
  --white: #FFF; 
   
  --light-gray: #cfcfcf;
  --light: #f7bebe;
  --light-alternate: #d9adad;
  --dark-contrast: #f71919;
  --dark: #412434; 
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 2px solid var(--light);
}

body {
  font-family: Raleway, sans-serif;
}

.nav-container {
  text-align: center;
  padding: 1em 10%;
  background-color: var(--dark);
}

.nav-menu ul li{
  list-style: none; 
  padding: .2em;
  margin-top: 1em;
}

.nav-logo {
  font-weight: bold;
  font-size: 1.5em;
  color: var(--white);
}

.nav-link {
  text-decoration: none;
  font-size: 1.125em;
  color: var(--light-alternate);
}

.nav-link:hover {
  color: var(--light);
  border-bottom: 2px solid var(--light);
}

.hero-container {
  background-color: var(--dark);
  padding: 1em 10%;
}

.hero-description {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em 0;
}

.hero-description h1 {
 font-size: 3em;
 font-weight: 1000;
 color: var(--white);
}

.hero-description p {
  font-size: 1.125em;
  color: var(--light-alternate);
}

.hero-image img {
  border-radius: 5%;
}

.btn {
  background-color: var(--dark-contrast);
  color: var(--white);
  font-weight: bold;
  border-radius: 5em;
  padding: .6em;
  border: 0;
  cursor: pointer;
  width: 10em;
  height: 3em;
}

.btn:hover {
  background-color: var(--light);
}

.btn-outline {
  background-color: transparent;
  border: 2px solid #FFF;
  color: var(--white);
  font-weight: bold;
  border-radius: 5em;
  padding: .6em;
  cursor: pointer;
  width: 10em;
  height: 3em;
  margin: 5% 0;
}

.btn-outline:hover {
  background-color: var(--white);
  color: var(--dark-contrast);
}

.information-title {
  font-size: 2.25em;
  font-weight: 900;
  color: var(--dark);
  text-align: center;
  margin: 1em 0;
}

.information-container {
  text-align: center;
  margin: auto 5%;
}

.card-image img {
  cursor: pointer;
  border-radius: 5%;
}
.card-image img:hover {
  opacity: .8;
}

.card-text {
 font-size: 1.125em;
 padding: 1em 0;
 margin-bottom: 2em;
 color: var(--dark);
}

.quote {
  background-color: var(--light-gray);
  padding: 5em 10%;
}

.quote-text {
  font-size: 2.25em;
  font-weight: 300;
  font-style: italic;
  color: var(--dark);
}

.quote-author {
  font-size: 1.5em;
  font-weight: bold;
  text-align: right;
  color: var(--dark);
}

.banner-container {
  margin: 10%;
}

.banner {
  background-color: var(--dark-contrast);
  border-radius: 1em;
  padding: 1.5em;
}

.banner-text .banner-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #FFF;
}

.banner-text .banner-description {
  font-size: 1.125em;
  color: #FFF;
}

.footer {
  font-size: 1.2em;
  background-color: var(--dark);
  color: #FFF;
  text-align: center;
  padding: 1.5em;
}

/* Tablet */
@media screen and (min-width: 576px) {

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu ul li {
    display: inline;
  }

  .hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5em 10%;
    gap: 2em;
  }

  .hero-description {
    width: 50%;
  }

  .hero-image {
    width: 50%;
  }

  .information-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5em;
  }

  .card {
    width: calc(50% - 5em);
  }

  .banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3em;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {

  .card {
    width: calc(25% - 5em);
  }
}
